---
layout: base.njk
title: Home
---
<h1>Welcome to Clinician to Coder</h1>
<p>A blog about the journey of healthcare professionals learning to code.</p>
<p>Check out my latest posts in the <a href="/blog">blog section</a>.</p> 